.example-spacer {
    flex: 1 1 auto;
}

.header-menu {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
}

.header-menu .item {
    color: #fff !important;
    padding: 0 10px;
    text-decoration: none;
    font-size: 15px;
    opacity: .7;
}

.header-menu .item:hover {
    opacity: 1;
}

.header-menu .active {
    opacity: 1;
}