<mat-toolbar color="primary">
    <span>My App</span>
    <span class="example-spacer"></span>
    <ul class="header-menu">
        <li>
            <a class="item" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Anasayfa</a>
        </li>
        <li>
            <a class="item" routerLink="/about" routerLinkActive="active">Hakkımda</a>
        </li>
        <li>
            <a class="item" routerLink="/cards" routerLinkActive="active">Kartvizitler</a>
        </li>
    </ul>
</mat-toolbar>